*{
    margin: 0;
}
body{
    background-color: black;

}
.content {
    background: linear-gradient(to right, #4e4462 60%, #000000 0);
    background-size: 50px 100%;
    width: 60%;
    margin: auto;
    height: 800px;
    font-family: "Times New Roman", Times, serif;
    justify-content: flex-end;
    text-align: center;
    display: flex;
    flex-direction: column;

}
.logo{
    color: white;

}
i{
    display: inline-block;
    align-content: center;
    justify-content: center;
    align-items: center;
    /*border: 2px solid white;*/
    color: white;
    margin: 10px;

    width: 30px;
    height: 30px;
}

p{
    color: white;
}
span{
    color: #19c8fa;
}

.line {
    border-top: 1px solid #ffffff;
    width: 230px;
}
.title, .line {
    margin: 10px auto;
}